```pip requirements
streamlit
google-generativeai
langdetect
textblob
fpdf
docx2txt
pypdf2
cryptography
openpyxl
pandas
matplotlib
seaborn
spacy
flair
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
